.vs/ProjectEvaluation/urlshortenerbackend.generated.metadata.v9.bin
.vs/ProjectEvaluation/urlshortenerbackend.generated.projects.v9.bin
.vs/ProjectEvaluation/urlshortenerbackend.generated.strings.v9.bin
.vs/UrlShortenerBackend.generated/config/applicationhost.config
.vs/UrlShortenerBackend.generated/DesignTimeBuild/.dtbcache.v2
.vs/UrlShortenerBackend.generated/FileContentIndex/1fcc48c8-e29c-43dc-a3d7-2317c1e1e896.vsidx
.vs/UrlShortenerBackend.generated/FileContentIndex/47b4369c-858c-42f4-b70f-b0c4689a1a32.vsidx
.vs/UrlShortenerBackend.generated/FileContentIndex/91a6ee89-3f95-4c6f-b9ae-818d11a18e84.vsidx
.vs/UrlShortenerBackend.generated/FileContentIndex/9d651158-44c6-4aab-9344-1d5ab367d97e.vsidx
.vs/UrlShortenerBackend.generated/FileContentIndex/e76bf9ad-1e30-4334-bc66-3f057b38649e.vsidx
.vs/UrlShortenerBackend.generated/v17/.futdcache.v2
.vs/UrlShortenerBackend.generated/v17/.suo
.vs/UrlShortenerBackend.generated/v17/DocumentLayout.backup.json
.vs/UrlShortenerBackend.generated/v17/DocumentLayout.json
urlShortener/Utils/Config.cs
urlShortener/bin/Debug/net8.0/urlShortener.dll
urlShortener/bin/Debug/net8.0/urlShortener.exe
urlShortener/bin/Debug/net8.0/urlShortener.pdb
urlShortener/obj/Debug/net8.0/apphost.exe
urlShortener/obj/Debug/net8.0/urlShortener.AssemblyInfo.cs
urlShortener/obj/Debug/net8.0/urlShortener.AssemblyInfoInputs.cache
urlShortener/obj/Debug/net8.0/urlShortener.dll
urlShortener/obj/Debug/net8.0/urlShortener.pdb
urlShortener/obj/Debug/net8.0/urlShortener.sourcelink.json
urlShortener/obj/Debug/net8.0/ref/urlShortener.dll
urlShortener/obj/Debug/net8.0/refint/urlShortener.dll
